functionsDirectory = "/Users/georgiyescom/Library/Mobile Documents/com~apple~CloudDocs/claude-env/markpad/netlify/functions"
functionsDirectoryOrigin = "ui"
headers = []

[functions]

[functions."*"]

[[plugins]]
origin = "ui"
package = "@netlify/plugin-lighthouse"
pinned_version = "6"

[plugins.inputs]

[build]
publish = "/Users/georgiyescom/Library/Mobile Documents/com~apple~CloudDocs/claude-env/markpad/dist"
publishOrigin = "ui"
commandOrigin = "ui"
command = "npm run build"
functions = "/Users/georgiyescom/Library/Mobile Documents/com~apple~CloudDocs/claude-env/markpad/netlify/functions"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]

[[redirects]]
from = "/*"
to = "/index.html"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]